# Virtual environments
lenv/
venv/
env/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# VS Code settings
.vscode/

# Database (optional if Django SQLite)
db.sqlite3

# OS files
.DS_Store